.book {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.233);

}

.books {
    background-color: rgba(231, 239, 242, 0.729);
    border: 1px dotted rgb(139, 116, 0);
    padding: 0.7rem;
    margin: 0.5rem 0;
    text-align: center;
    margin-left: 7%;
    width: 200px;
    border: 10px solid rgba(0, 79, 128, 0.555);
    padding: 50px;
    margin: 20px;

}

.book__name {
    font-size: 25px;
    text-decoration: underline;
}

.book__description {
    font-size: larger;
    font-weight: bolder;

}

.addBooks {
    display: flex;
    margin: auto;
    background-color: rgba(165, 42, 42, 0.923);
    color: white;
    margin-left: 80%;
}

.book-header {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.538);
    width: 25%;
    display: flex;
    margin-left: 37%;
}

.form-control {
    border-radius: 20%;
}

.bookForm {
    width: 60%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.327);
}