.employee {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.employees {
    background-color: rgba(0, 0, 0, 0.538);
    padding: 0.7rem;
    margin: 0.5rem 0;
    text-align: center;
    margin-left: 7%;
    width: 200px;
    border: 10px solid rgba(0, 79, 128, 0.555);
    padding: 50px;
    margin: 20px;
    box-shadow: 5px 5px 5px black;
}

.customerDetails{
    display: flex;
    justify-content: center;
}

.customersDetail{
    background-color: rgba(0, 0, 0, 0.538);
    padding: 0.7rem;
    margin: 0.5rem 0;
    text-align: center;
    margin-left: 7%;
    width: auto;
    border: 10px solid rgba(0, 79, 128, 0.555);
    padding: 50px;
    margin: 20px;
    width: 50%;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.customerHeader, .profileTitle{
    color: white;
}

.bookSession {
    width: 60%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.327);
}

.hourLetter {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    border: 5px;
}

.updateSession{
    background-color: rgb(233, 233, 233);
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 5px 5px 5px black;
    color: black;
}

.createProfile{
    width: 50%;
    margin: auto;
    box-shadow: 20px 20px 20px black;
    color: white;
    background-color: rgba(0, 0, 0, 0.538);
    border: 10px solid rgba(0, 79, 128, 0.555);
}

.name{
    text-align: center;
}
